body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.main-wrap {
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

button {
    padding: 15px 20px;
    border: none;
    background-color: #87ceeb;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

button:hover {
    animation-name: button-move;
    animation-duration: 0.5s;
}

.plus {
    font-size: 100px;
    font-weight: 400;
    cursor: pointer;
}

.plus:hover {
    animation-name: plus-move;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.ani-navbar:hover {
    transform: translateX(0px);
    text-align: center;
}

.ani-navbar {
    width: 200px;
    background: black;
    color: white;
    height: 100%;
    padding: 25px;
    position: fixed;
    z-index: 5;
    text-align: right;
    transition: all 1s;
    transform: translateX(-150px)
}

.ani-navbar p {
    text-align: center;
}

.ani-navbar:hover p {
    animation-name: slide;
    animation-duration: 1s;
}

@keyframes slide {
    0% {
        transform: translateX(-250px);
    }

    50% {
        transform: translateX(20px) skewX(-30deg);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes button-move {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes plus-move {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(45deg) scale(2);
    }
}