body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;
    text-align: center;
}

i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 40px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 100%;
    transition: all 1s;
    color: white;
}

.overlay-wrap:hover .overlay {
    margin-top: 50%;
}

.ani-text {
    text-align: center;
}

.ani-text:hover {
    animation-name: 왔다갔다;
    animation-duration: 1s;
}

@keyframes 왔다갔다 {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-100px);
    }

    75% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }

    .content {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .content {
        width: 100%;
    }
}