@use '_reset';

$main-background: #eeeeee;
$nav-background: #603fef;

@mixin card-border($color) {
    border-left: 3px solid $color;
}

.main-wrap {
    width: 100%;
    background-color: $main-background;
    padding-left: 60px;
}

nav {
    width: 150px;
    height: 100%;
    background-color: $nav-background;
    position: fixed;
    z-index: 5;
    padding: 30px 20px;
    color: white;
    transform: translateX(-130px);
    transition: all 0.5s;

    &:hover {
        transform: translateX(0px);

        i {
            transform: translateX(0px);
        }
    }

    div {
        margin-bottom: 30px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        margin-left: 20px;
    }

    i {
        transform: translateX(130px);
    }
}

header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 5px -2px lightgray;

    div:first-child {
        display: flex;

        input {
            width: 150px;
            border: 1px solid $main-background;
            padding: 8px;
            border-radius: 5px 0 0 5px;
            transition: all 1s;

            &:focus {
                width: 200px;

            }
        }

        button {
            border: none;
            background-color: black;
            color: white;
            border-radius: 0 5px 5px 0;
            padding: 8px 12px;
        }
    }

    div:last-child {
        font-size: 15px;
        display: flex;
        align-items: center;
        color: gray;
        gap: 20px;
    }
}

main {
    padding: 30px 10px;

    h1 {
        font-size: 25px;
        font-weight: 700;
    }
}

.card-wrap {
    margin: 30px 0;
    display: flex;
    gap: 20px;

    >div {
        width: (100% / 12 * 3);
        background-color: white;
        padding: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 5px 5px 5px lightgray;

        div {
            font-size: 18px;
        }
    }

    i {
        font-size: 30px;
        color: gray;
    }

    h4 {
        color: gray;
        margin-bottom: 10px;
    }
}

.card-blue {
    @include card-border(#82caff)
}

.card-green {
    @include card-border(#03c04a)
}

.card-purple {
    @include card-border(#603fef)
}

.card-yellow {
    @include card-border(#ffd800)
}

.sub-wrap {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 100%;

    div {
        background-color: white;
        box-shadow: 5px 5px 5px lightgray;
        border-radius: 10px;

        &:first-child {
            width: (100% / 12 * 8);
        }

        &:last-child {
            width: (100% / 12 * 4);
        }

        h1 {
            background-color: $main-background;
            padding: 20px;
            border-bottom: 1px solid lightgray;
        }
    }
}

canvas {
    padding: 20px;
}

li {
    padding: 20px;
    border: 1px solid $main-background;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 13px;
        background-color: #1e90ff;
        color: white;
        border-radius: 50px;
        padding: 5px 8px;
    }
}

@media screen and (max-width: 768px) {
    .card-wrap {
        flex-wrap: wrap;

        >div {
            width: 100%;
        }
    }

    .sub-wrap {
        flex-wrap: wrap;

        div {
            &:first-child {
                width: 100%;
            }

            &:last-child {
                width: 100%;
            }
        }
    }
}