$main-color: #2a4cb2;
$sub-color: #eeeeee;
$basic-size: 16px;

.background {
    background-color: $main-color;
    font-size: ($basic-size - 2px);
}

.box {
    color: $main-color;
    font-size: ($basic-size + 2px);
}