@use '_reset';

@mixin font-style($구멍) {
    font-size: $구멍;
    // #{$구멍}: 1px;
    letter-spacing: -1px;
}

h2 {
    @include font-style(40px);
    color: reset.$main-color;
}

h3 {
    @include font-style(30px)
}

h4 {
    font-size: 10px;
    letter-spacing: -1px;
}